.heading {
  display: flex;
  align-items: center;
  align-items: flex-end;
  min-height: 450px;
  background: #d8d8d8;
  &__info {
    padding: 40px;
    max-width: 90%;
    &__title {
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__text {
      font-size: 20px;
    }
  }
}
