/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #27ae60
);

$blue:         #1d2b3c;
$light-blue:   #68a9ab;
$grey:         #1d2b3c;
$animate:      all 0.2s ease-in-out;
$text:         #272829;
$light-grey:   #e5e5e5;
$pink:         #f58b9e;
